<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Author Details</title>
</head>
<body>
    <h1>Author Details</h1>
    <p><strong>Nom:</strong> {{ author }}</p>
    <p><strong>Date de naissance:</strong> {{ author.birth_date }}</p>
    <p><strong>Nationalité:</strong> {{ author.nationality }}</p>
    <p><strong>Biographie:</strong> {{ author.biography }}</p>
    <p><strong>Date de décès:</strong> {{ author.death_date }}</p>
    <p><strong>Site web:</strong> <a href="{{ author.website }}">{{ author.website }}</a></p>
    {% if author.photo %}
        <p><strong>Photo:</strong></p>
        <img src="{{ author.photo.url }}" alt="Photo of {{ author }}" style="max-width:200px; height:auto;">
    {% endif %}

    <div>
        <h2>Les livres de cet auteur</h2>
        {% if author.book_set.all %}
            <ul>
                {% for book in author.book_set.all %}
                    <li>
                        <a href="{% url 'show_book' book.id %}">
                            {{ book.title }}
                        </a>
                        (Publié le: {{ book.published_date }})
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>Aucun livre trouvé pour cet auteur.</p>
        {% endif %}
    </div>
    
    <a href="{% url 'authors_index' %}">Back to Authors List</a>
</body>
</html>
